
/* STYLE SECTIONING TAGS */
* { /* Reset the space of the webpage */
   margin: 0px;
   padding: 0px;
   font-family: "Bree Serif", serif;
   font-style: normal;
}



/* STYLE TEXT */

p{
   padding-bottom: 1.5em;
   color:black;
}

#title{
   font-size: 7em;
   padding-bottom: 100px;
   color:white;
}


.flex-container {
  display: flex;
  justify-content: space-evenly;
  gap: 7em;
  align-items: center;
  align-content: flex-start;
  padding: 2em;
}


li {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  padding: 0.5em;
  justify-content: space-between;
}

footer {
  text-align: center;
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 0.5em;
  background-color:#f7be55;
}

 div{
 color: black;

 }

 h1{
 text-align: center;
 }

h2{
   padding-top: 0.5em;
   padding-bottom: 0.5em;
}

main{
   margin-left: 5%;
   margin-right: 5%;
}

 body{

 background-color: #ffce80;
 font-family: "Bree Serif", serif;
 font-style: normal;
 } 

#qualities{
   margin-top: 1em;
   margin-bottom: 1em;
   border: 50px;
   border-color: black;
   border-style: solid;
   padding-right: 10%;
   padding-left: 10%;
   border-block-start-color:orange;
   border-block-end-color:orange;
}

header{
   padding: 2em;
   margin-bottom: 1.5em;
   background-image: url(https://cdn1.parksmedia.wdprapps.disney.com/resize/mwImage/1/1600/900/75/dam/wdpro-assets/parks-and-tickets/attractions/animal-kingdom/disney-animals/disney-animals-asian-sumatran-tigers/disney-animals-asian-sumatran-tigers-00.jpg?1658996208764);

}
button{
   background-color: orange;
   border-radius: 25px;
   border: 2px solid black;
   height: 80px;
   width: 200px;
   font-size: 1.25em;
   margin-bottom: 1em;
}

button:click{
  background-color: #b3dfb3;
}

button:hover{
   background-color:  #ffce80;
}

img{
   height: 240px;
   width: 320px;
}

.flex-box {
  display: flex;
  justify-content: space-evenly;
  gap: 2em;
  align-items: center;
  align-content: flex-start;
  padding: 2em;
}

.getFact{
   margin-top: 2em;
   margin-bottom: 1em;
   border: 50px;
   border-color: orange;
   border-style: solid;
   padding-right: 5%;
   padding-left: 5%;
   border-block-start-color: black;
   border-block-end-color: black;
   text-align: center;
   justify-content: space-evenly;
   padding: 1em;
   margin-left: 1.5em;
   margin-right: 1.5em;
}

#fact{
   padding-top: 1em;
   padding-bottom: 1em;
   font-size: 2em;
}

#share{
   padding-bottom: 1em;
   font-size: 1.75em;
}

#click{
   font-size: 3em;
}

#myButton{
   height: 75px;
   width: 500px;
   font-size: 35px;
   margin-top: 1em;
   margin-bottom: 0.5em;
}

ul{
  list-style-type: none;
  background-color:orange;
  overflow: hidden;
  padding-bottom: 1em;
  padding-top: 1em;
  text-align: center
}

li{
   display: inline;
}

li a {
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  margin-top: 3em;
  padding: 3em;
  text-align: center;
  justify-content: space-between;
}

li a:hover{
  background-color: #ffce80 ;
}

/* STYLE IMAGES */

/* STYLE NAV BAR */

/* STYLE BUTTONS */

/* ADD MORE! */
